<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AirScoutViewClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AirScoutViewClient.Properties.Settings>
            <setting name="Server_URL" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="Server_Port" serializeAs="String">
                <value>9880</value>
            </setting>
            <setting name="RefreshRate" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Map_Provider" serializeAs="String">
                <value>OpenStreetMap</value>
            </setting>
            <setting name="Tmp_Directory" serializeAs="String">
                <value>\Tmp</value>
            </setting>
            <setting name="Log_Directory" serializeAs="String">
                <value>\Log</value>
            </setting>
            <setting name="MyCall" serializeAs="String">
                <value>DL2ALF</value>
            </setting>
            <setting name="MyLat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MyLon" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DXCall" serializeAs="String">
                <value>GB3MHZ</value>
            </setting>
            <setting name="DXLat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DXLon" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MinLat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MinLon" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxLat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxLon" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Band" serializeAs="String">
                <value>B1_2G</value>
            </setting>
            <setting name="Locator_SmallLettersForSubsquares" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Locator_AutoLength" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Locator_MaxLength" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Map_SmallMarkers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Planes_MaxAlt" serializeAs="String">
                <value>12200</value>
            </setting>
            <setting name="Planes_IconFileName" serializeAs="String">
                <value>plane.png</value>
            </setting>
            <setting name="Airports_IconFileName" serializeAs="String">
                <value>airport.png</value>
            </setting>
            <setting name="InfoWin_Position" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InfoWin_Metric" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InfoWin_Track" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InfoWin_Speed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InfoWin_Alt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InfoWin_Type" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InfoWin_Time" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InfoWin_Dist" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InfoWin_Angle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InfoWin_Epsilon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InfoWin_Squint" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Planes_Filter_Min_Alt" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="Planes_Filter_Min_Category" serializeAs="String">
                <value>NONE</value>
            </setting>
            <setting name="Planes_MinAlt" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="Planes_Filter_Max_Circumcircle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Map_AutoCenter" serializeAs="String">
                <value>True</value>
            </setting>
        </AirScoutViewClient.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.109.0" newVersion="1.0.109.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>