<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AirScout.PlaneFeeds.Plugin.Template.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AirScout.PlaneFeeds.Plugin.PlaneFinder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AirScout.PlaneFeeds.Plugin.Template.Properties.Settings>
            <setting name="Info" serializeAs="String">
                <value>Generic template for ceration of new plane feed projects
</value>
            </setting>
            <setting name="Name" serializeAs="String">
                <value>[WebFeed]           Template</value>
            </setting>
            <setting name="Disclaimer" serializeAs="String">
                <value>This plane feed is being fetched from an Internet server via Deep Link 
technology  (see http://en.wikipedia.org/wiki/Deep_link). 

The use is not intended by the website owners and could be changed in URL and data format frequently and without further notice. 
Furthermore, it might cause legal issues in some countries. 

By clicking on "Accept" you understand that you are 

                           DOING THAT ON YOUR OWN RISK

The auhor of this software will not be responsible in any case.</value>
            </setting>
            <setting name="Disclaimer_Accepted" serializeAs="String">
                <value />
            </setting>
            <setting name="URL" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveToFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value />
            </setting>
            <setting name="HasSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CanImport" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CanExport" serializeAs="String">
                <value>False</value>
            </setting>
        </AirScout.PlaneFeeds.Plugin.Template.Properties.Settings>
        <AirScout.PlaneFeeds.Plugin.PlaneFinder.Properties.Settings>
            <setting name="Info" serializeAs="String">
                <value>Web feed from www.planefinder.net
See https://planefinder.net/

(c) AirScout (www.airscout.eu)

This feed does not require a login or API key.
</value>
            </setting>
            <setting name="Name" serializeAs="String">
                <value>[WebFeed]           www.planefinder.net</value>
            </setting>
            <setting name="Disclaimer" serializeAs="String">
                <value>This plane feed is being fetched from an Internet server via Deep Link 
technology  (see http://en.wikipedia.org/wiki/Deep_link). 

The use is not intended by the website owners and could be changed in URL and data format frequently and without further notice. 
Furthermore, it might cause legal issues in some countries. 

By clicking on "Accept" you understand that you are 

                           DOING THAT ON YOUR OWN RISK

The auhor of this software will not be responsible in any case.</value>
            </setting>
            <setting name="Disclaimer_Accepted" serializeAs="String">
                <value />
            </setting>
            <setting name="URL" serializeAs="String">
                <value>http://droidapp.pinkfroot.com/APPAPIDROID/v7/planeUpdateFAA.php?routetype=IATA&amp;amp;FAA=1&amp;amp;bounds=%MAXLAT%,%MINLAT%,%MINLON%,%MAXLON%</value>
            </setting>
            <setting name="SaveToFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value />
            </setting>
            <setting name="HasSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CanImport" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CanExport" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Timeout" serializeAs="String">
                <value>30</value>
            </setting>
        </AirScout.PlaneFeeds.Plugin.PlaneFinder.Properties.Settings>
    </userSettings>
</configuration>