<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ScoutBase.Data.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="ScoutBase.Database.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="ScoutBase.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <userSettings>
    <ScoutBase.Data.Properties.Settings>
      <setting name="GLOBE_DataPath" serializeAs="String">
        <value>ElevationData\GLOBE</value>
      </setting>
      <setting name="GLOBE_Enabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GLOBE_URL" serializeAs="String">
        <value>https://www.ngdc.noaa.gov/mgg/topo/DATATILES/elev/</value>
      </setting>
      <setting name="GLOBE_URLs" serializeAs="String">
        <value>https://www.ngdc.noaa.gov/mgg/topo/DATATILES/elev/
https://www.airscout.eu/downloads/GLOBE</value>
      </setting>
      <setting name="SRTM3_DataPath" serializeAs="String">
        <value>ElevationData\SRTM3</value>
      </setting>
      <setting name="SRTM3_Enabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SRTM3_URL" serializeAs="String">
        <value>https://dds.cr.usgs.gov/srtm/version2_1/SRTM3/Eurasia/</value>
      </setting>
      <setting name="SRTM3_URLs" serializeAs="String">
        <value>https://dds.cr.usgs.gov/srtm/version2_1/SRTM3/Africa/
https://dds.cr.usgs.gov/srtm/version2_1/SRTM3/Australia/
https://dds.cr.usgs.gov/srtm/version2_1/SRTM3/Eurasia/
https://dds.cr.usgs.gov/srtm/version2_1/SRTM3/Islands/
https://dds.cr.usgs.gov/srtm/version2_1/SRTM3/North_America/
https://dds.cr.usgs.gov/srtm/version2_1/SRTM3/South_America/</value>
      </setting>
      <setting name="SRTM1_DataPath" serializeAs="String">
        <value>ElevationData\SRTM1</value>
      </setting>
      <setting name="SRTM1_Enabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SRTM1_URL" serializeAs="String">
        <value>https://dds.cr.usgs.gov/srtm/version2_1/SRTM1/</value>
      </setting>
      <setting name="SRTM1_URLs" serializeAs="String">
        <value>https://dds.cr.usgs.gov/srtm/version2_1/SRTM1/Region_01
https://dds.cr.usgs.gov/srtm/version2_1/SRTM1/Region_02
https://dds.cr.usgs.gov/srtm/version2_1/SRTM1/Region_03
https://dds.cr.usgs.gov/srtm/version2_1/SRTM1/Region_04
https://dds.cr.usgs.gov/srtm/version2_1/SRTM1/Region_05
https://dds.cr.usgs.gov/srtm/version2_1/SRTM1/Region_06
https://dds.cr.usgs.gov/srtm/version2_1/SRTM1/Region_07</value>
      </setting>
      <setting name="Database_Directory" serializeAs="String">
        <value />
      </setting>
      <setting name="Database_InMemory" serializeAs="String">
        <value>False</value>
      </setting>
    </ScoutBase.Data.Properties.Settings>
    <ScoutBase.Database.Core.Properties.Settings>
      <setting name="GLOBE_DataPath" serializeAs="String">
        <value>ElevationData\GLOBE</value>
      </setting>
      <setting name="GLOBE_Enabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GLOBE_URL" serializeAs="String">
        <value>http://www.ngdc.noaa.gov/mgg/topo/DATATILES/elev/</value>
      </setting>
      <setting name="GLOBE_URLs" serializeAs="String">
        <value>http://www.ngdc.noaa.gov/mgg/topo/DATATILES/elev/
http://www.airscout.eu/downloads/GLOBE</value>
      </setting>
      <setting name="SRTM3_DataPath" serializeAs="String">
        <value>ElevationData\SRTM3</value>
      </setting>
      <setting name="SRTM3_Enabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SRTM3_URL" serializeAs="String">
        <value>http://dds.cr.usgs.gov/srtm/version2_1/SRTM3/Eurasia/</value>
      </setting>
      <setting name="SRTM3_URLs" serializeAs="String">
        <value>http://dds.cr.usgs.gov/srtm/version2_1/SRTM3/Africa/
http://dds.cr.usgs.gov/srtm/version2_1/SRTM3/Australia/
http://dds.cr.usgs.gov/srtm/version2_1/SRTM3/Eurasia/
http://dds.cr.usgs.gov/srtm/version2_1/SRTM3/Islands/
http://dds.cr.usgs.gov/srtm/version2_1/SRTM3/North_America/
http://dds.cr.usgs.gov/srtm/version2_1/SRTM3/South_America/</value>
      </setting>
      <setting name="SRTM1_DataPath" serializeAs="String">
        <value>ElevationData\SRTM1</value>
      </setting>
      <setting name="SRTM1_Enabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SRTM1_URL" serializeAs="String">
        <value>http://dds.cr.usgs.gov/srtm/version2_1/SRTM1/</value>
      </setting>
      <setting name="SRTM1_URLs" serializeAs="String">
        <value>http://dds.cr.usgs.gov/srtm/version2_1/SRTM1/Region_01
http://dds.cr.usgs.gov/srtm/version2_1/SRTM1/Region_02
http://dds.cr.usgs.gov/srtm/version2_1/SRTM1/Region_03
http://dds.cr.usgs.gov/srtm/version2_1/SRTM1/Region_04
http://dds.cr.usgs.gov/srtm/version2_1/SRTM1/Region_05
http://dds.cr.usgs.gov/srtm/version2_1/SRTM1/Region_06
http://dds.cr.usgs.gov/srtm/version2_1/SRTM1/Region_07</value>
      </setting>
      <setting name="Database_Directory" serializeAs="String">
        <value />
      </setting>
    </ScoutBase.Database.Core.Properties.Settings>
    <ScoutBase.Properties.Settings>
      <setting name="GLOBE_DataPath" serializeAs="String">
        <value>ElevationData\GLOBE</value>
      </setting>
      <setting name="GLOBE_Enabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GLOBE_URL" serializeAs="String">
        <value>http://www.ngdc.noaa.gov/mgg/topo/DATATILES/elev/</value>
      </setting>
      <setting name="GLOBE_URLs" serializeAs="String">
        <value>http://www.ngdc.noaa.gov/mgg/topo/DATATILES/elev/
http://www.airscout.eu/downloads/GLOBE</value>
      </setting>
      <setting name="SRTM3_DataPath" serializeAs="String">
        <value>ElevationData\SRTM3</value>
      </setting>
      <setting name="SRTM3_Enabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SRTM3_URL" serializeAs="String">
        <value>http://dds.cr.usgs.gov/srtm/version2_1/SRTM3/Eurasia/</value>
      </setting>
      <setting name="SRTM3_URLs" serializeAs="String">
        <value>http://dds.cr.usgs.gov/srtm/version2_1/SRTM3/Africa/
http://dds.cr.usgs.gov/srtm/version2_1/SRTM3/Australia/
http://dds.cr.usgs.gov/srtm/version2_1/SRTM3/Eurasia/
http://dds.cr.usgs.gov/srtm/version2_1/SRTM3/Islands/
http://dds.cr.usgs.gov/srtm/version2_1/SRTM3/North_America/
http://dds.cr.usgs.gov/srtm/version2_1/SRTM3/South_America/</value>
      </setting>
      <setting name="SRTM1_DataPath" serializeAs="String">
        <value>ElevationData\SRTM1</value>
      </setting>
      <setting name="SRTM1_Enabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SRTM1_URL" serializeAs="String">
        <value />
      </setting>
      <setting name="SRTM1_URLs" serializeAs="String">
        <value />
      </setting>
    </ScoutBase.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>