<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ScoutBase.Stations.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ScoutBase.Stations.Properties.Settings>
            <setting name="Database_Directory" serializeAs="String">
                <value />
            </setting>
            <setting name="Database_InMemory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Stations_DataPath" serializeAs="String">
                <value>Stations</value>
            </setting>
            <setting name="Stations_UpdateURL" serializeAs="String">
                <value>http://www.airscout.eu/downloads/ScoutBase/1/StationData/</value>
            </setting>
            <setting name="Database_BackgroundUpdate_Period" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Stations_TimeStamp" serializeAs="String">
                <value>1970-01-01</value>
            </setting>
            <setting name="Stations_Status" serializeAs="String">
                <value>UNDEFINED</value>
            </setting>
            <setting name="Locations_Update_TimeStamp" serializeAs="String">
                <value>1970-01-01</value>
            </setting>
            <setting name="QRV_Update_TimeStamp" serializeAs="String">
                <value>1970-01-01</value>
            </setting>
        </ScoutBase.Stations.Properties.Settings>
    </userSettings>
</configuration>