<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AirScout.PlaneFeeds.Plugin.RTL1090.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AirScout.PlaneFeeds.Plugin.RTL1090.Properties.Settings>
            <setting name="Name" serializeAs="String">
                <value>[RawData]           RTL1090 data </value>
            </setting>
            <setting name="Info" serializeAs="String">
                <value>Raw data feed from simple ADS-B receivers (DVB-T dongles).

(c) AirScout (www.airscout.eu)

Use this feed together with RTL1090.exe or similar software.
Feed software must output raw data either binary or ASCII format via TCP.


</value>
            </setting>
            <setting name="Disclaimer" serializeAs="String">
                <value />
            </setting>
            <setting name="Disclaimer_Accepted" serializeAs="String">
                <value />
            </setting>
            <setting name="Server" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>31001</value>
            </setting>
            <setting name="Binary" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Report_Messages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MarkLocal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value />
            </setting>
            <setting name="HasSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CanImport" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CanExport" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveToFile" serializeAs="String">
                <value>False</value>
            </setting>
        </AirScout.PlaneFeeds.Plugin.RTL1090.Properties.Settings>
    </userSettings>
</configuration>