<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AirScoutPlaneServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <mscorlib>
    <cryptographySettings>
      <cryptoNameMapping>
        <cryptoClasses>
          <cryptoClass monoMD2="Mono.Security.Cryptography.MD2Managed, Mono.Security, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=0738eb9f132ed756" />
        </cryptoClasses>
        <nameEntry name="MD2" class="monoMD2" />
      </cryptoNameMapping>
      <oidMap>
        <oidEntry OID="1.2.840.113549.2.2" name="MD2" />
      </oidMap>
    </cryptographySettings>
  </mscorlib>
  <userSettings>
    <AirScoutPlaneServer.Properties.Settings>
      <setting name="Windows_Startup_Minimized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Windows_Startup_Systray" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Windows_Startup_Autorun" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Webserver_Active" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Webserver_Port" serializeAs="String">
        <value>9872</value>
      </setting>
      <setting name="Webserver_Welcome" serializeAs="String">
        <value>&lt;HTML&gt;&lt;BODY&gt; Welcome to AirScout PlaneServer&lt;/BODY&gt;&lt;/HTML&gt;</value>
      </setting>
      <setting name="Log_Active" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Log_Directory" serializeAs="String">
        <value>%DataDir%\Log</value>
      </setting>
      <setting name="Database_Directory" serializeAs="String">
        <value>%DataDir%\Database</value>
      </setting>
      <setting name="Application_FirstRun" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Icon_Directory" serializeAs="String">
        <value>%AppDir%</value>
      </setting>
      <setting name="Icon_Filename" serializeAs="String">
        <value>PlaneServer.ico</value>
      </setting>
      <setting name="Log_Verbosity" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="Planes_MinLon" serializeAs="String">
        <value>-15</value>
      </setting>
      <setting name="Planes_MaxLon" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="Planes_MinLat" serializeAs="String">
        <value>35</value>
      </setting>
      <setting name="Planes_MaxLat" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="Planes_MapProvider" serializeAs="String">
        <value>OpenStreetMap</value>
      </setting>
      <setting name="Planes_MinAlt" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="ADSBFeed_Active" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Planes_MaxAlt" serializeAs="String">
        <value>20000</value>
      </setting>
      <setting name="Planes_Lifetime" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="Setting" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Tmp_Directory" serializeAs="String">
        <value>%DataDir%\Tmp</value>
      </setting>
      <setting name="Database_UpdateURL" serializeAs="String">
        <value>http://www.airscout.de/UpdateURL.txt</value>
      </setting>
      <setting name="Database_UpdateCycle" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Planes_WebFeed1" serializeAs="String">
        <value>[none]</value>
      </setting>
      <setting name="Planes_WebFeed2" serializeAs="String">
        <value>[none]</value>
      </setting>
      <setting name="Planes_WebFeed3" serializeAs="String">
        <value>[none]</value>
      </setting>
    </AirScoutPlaneServer.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-1.0.108.0" newVersion="1.0.108.0" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>