<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ScoutBase.Elevation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <userSettings>
    <ScoutBase.Elevation.Properties.Settings>
      <setting name="Database_Directory" serializeAs="String">
        <value />
      </setting>
      <setting name="Database_InMemory" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Elevation_GLOBE_DataPath" serializeAs="String">
        <value>GLOBE</value>
      </setting>
      <setting name="Elevation_GLOBE_UpdateURL" serializeAs="String">
        <value>http://www.airscout.eu/downloads/ScoutBase/1/ElevationData/GLOBE</value>
      </setting>
      <setting name="Elevation_GLOBE_JSONFile" serializeAs="String">
        <value>globe.json</value>
      </setting>
      <setting name="Elevation_SRTM3_DataPath" serializeAs="String">
        <value>SRTM3</value>
      </setting>
      <setting name="Elevation_SRTM3_UpdateURL" serializeAs="String">
        <value>http://www.airscout.eu/downloads/ScoutBase/1/ElevationData/SRTM3</value>
      </setting>
      <setting name="Elevation_SRTM3_JSONFile" serializeAs="String">
        <value>srtm3.json</value>
      </setting>
      <setting name="Elevation_SRTM1_DataPath" serializeAs="String">
        <value>SRTM1</value>
      </setting>
      <setting name="Elevation_SRTM1_UpdateURL" serializeAs="String">
        <value>http://www.airscout.eu/downloads/ScoutBase/1/ElevationData/SRTM1</value>
      </setting>
      <setting name="Elevation_SRTM1_JSONFile" serializeAs="String">
        <value>srtm1.json</value>
      </setting>
      <setting name="Datatbase_BackgroundUpdate_Period" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="Database_BackgroundUpdate_ThreadWait" serializeAs="String">
        <value>0</value>
      </setting>
    </ScoutBase.Elevation.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  
</configuration>