<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AirScout.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AirScout.Core.Properties.Settings>
            <setting name="Path_Default_Ground_Clearance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Path_Default_F1_Clearance" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="Path_Default_K_Factor" serializeAs="String">
                <value>1.33</value>
            </setting>
            <setting name="Path_Default_Max_Distance" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Path_Default_Max_Squint" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Path_Default_Max_Elevation" serializeAs="String">
                <value>0</value>
            </setting>
        </AirScout.Core.Properties.Settings>
    </userSettings>
</configuration>