<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AirScout.CAT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AirScout.CAT.Properties.Settings>
            <setting name="CAT_Activate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CAT_Update" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="CAT_ResponseTimeout" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="CAT_RigType" serializeAs="String">
                <value />
            </setting>
            <setting name="CAT_PortName" serializeAs="String">
                <value />
            </setting>
            <setting name="CAT_Baudrate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="CAT_DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="CAT_Parity" serializeAs="String">
                <value>NONE</value>
            </setting>
            <setting name="CAT_StopBits" serializeAs="String">
                <value>ONE</value>
            </setting>
            <setting name="CAT_RTS" serializeAs="String">
                <value>LOW</value>
            </setting>
            <setting name="CAT_DTR" serializeAs="String">
                <value>LOW</value>
            </setting>
            <setting name="CAT_Poll" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="CAT_Timeout" serializeAs="String">
                <value>500</value>
            </setting>
        </AirScout.CAT.Properties.Settings>
    </userSettings>
</configuration>