<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RainScout.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <RainScout.Properties.Settings>
            <setting name="Map_Provider" serializeAs="String">
                <value>OpenStreetMap</value>
            </setting>
            <setting name="MyCall" serializeAs="String">
                <value>DL2ALF</value>
            </setting>
            <setting name="MyLat" serializeAs="String">
                <value>50.937067</value>
            </setting>
            <setting name="MyLon" serializeAs="String">
                <value>10.68327</value>
            </setting>
            <setting name="MyLoc" serializeAs="String">
                <value>JO50IW</value>
            </setting>
            <setting name="ScpLat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScpLon" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScpLoc" serializeAs="String">
                <value />
            </setting>
            <setting name="Elevation_GLOBE_DataPath" serializeAs="String">
                <value>ElevationData\GLOBE</value>
            </setting>
            <setting name="Elevation_SRTM1_DataPath" serializeAs="String">
                <value>ElevationData\SRTM1</value>
            </setting>
            <setting name="Elevation_SRTM3_DataPath" serializeAs="String">
                <value>ElevationData\SRTM3</value>
            </setting>
            <setting name="Elevation_GLOBE_Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Elevation_SRTM1_Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Elevation_SRTM3_Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Path_Cubic_Spline" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Path_Default_F1_Clearance" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="Path_Default_Ground_Clearance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Path_Default_K_Factor" serializeAs="String">
                <value>1.33</value>
            </setting>
            <setting name="Path_Default_Max_Distance" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Path_Default_Max_Elevation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Path_Default_Max_Squint" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Path_NearFieldSuppression" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Path_StepWidth" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Path_BandSettings" serializeAs="String">
                <value />
            </setting>
            <setting name="Horizon_DataPath" serializeAs="String">
                <value>Horizon\</value>
            </setting>
            <setting name="Scatter_MaxRadius" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="Scatter_MinRadius" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="Scatter_MaxAngle" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="Scatter_MinHeight" serializeAs="String">
                <value>8000</value>
            </setting>
            <setting name="Scatter_MaxHeight" serializeAs="String">
                <value>20000</value>
            </setting>
            <setting name="DXCall" serializeAs="String">
                <value />
            </setting>
            <setting name="DXLat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DXLon" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DXLoc" serializeAs="String">
                <value />
            </setting>
            <setting name="Database_Filename" serializeAs="String">
                <value>Database\calls.bin</value>
            </setting>
            <setting name="MyElevation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MyHeight" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MinLat" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="MaxLat" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="MinLon" serializeAs="String">
                <value>-15</value>
            </setting>
            <setting name="MaxLon" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="CurrentBand" serializeAs="String">
                <value>B10G</value>
            </setting>
            <setting name="CurrentElevationModel" serializeAs="String">
                <value>SRTM3</value>
            </setting>
            <setting name="CurrentRadar" serializeAs="String">
                <value />
            </setting>
            <setting name="Filter_VisibleScpOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Filter_MinDistance" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Filter_MaxDistance" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="Radar_Opacity" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Map_Intensity" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Map_CloudTops" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Map_Lightning" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Map_Bounds" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Map_Horizons" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Map_Distances" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScpCloudTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StationsDatabase_Status" serializeAs="String">
                <value>UNDEFINED</value>
            </setting>
            <setting name="Background_Update_OnStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Location_RestrictToAreaOfInterest" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Elevation_GLOBE_DatabaseStatus" serializeAs="String">
                <value>UNDEFINED</value>
            </setting>
            <setting name="Elevation_SRTM3_DatabaseStatus" serializeAs="String">
                <value>UNDEFINED</value>
            </setting>
            <setting name="Elevation_SRTM1_DatabaseStatus" serializeAs="String">
                <value>UNDEFINED</value>
            </setting>
            <setting name="Elevation_GLOBE_EnableCache" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Elevation_SRTM3_EnableCache" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Elevation_SRTM1_EnableCache" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RainScout_Instance_ID" serializeAs="String">
                <value />
            </setting>
            <setting name="AirScout_GetKey_URL" serializeAs="String">
                <value>http://www.airscout.eu/usr/getkey.php</value>
            </setting>
            <setting name="AirScout_Register_URL" serializeAs="String">
                <value>http://www.airscout.eu/usr/register.php</value>
            </setting>
            <setting name="AirScout_UploadLocation_URL" serializeAs="String">
                <value>http://www.airscout.eu/usr/upload_location.php</value>
            </setting>
            <setting name="AirScout_UploadQRV_URL" serializeAs="String">
                <value>http://www.airscout.eu/usr/upload_qrv.php</value>
            </setting>
            <setting name="RainScout_Device_ID" serializeAs="String">
                <value />
            </setting>
        </RainScout.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
