<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AirScout.AircraftPositions.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AirScout.AircraftPositions.Properties.Settings>
            <setting name="Database_Directory" serializeAs="String">
                <value />
            </setting>
            <setting name="Database_InMemory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AIrcraftPositions_DataPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Database_BackgroundMaintenance_Period" serializeAs="String">
                <value>60</value>
            </setting>
        </AirScout.AircraftPositions.Properties.Settings>
    </userSettings>
</configuration>