<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AirScout.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <userSettings>
    <AirScout.Properties.Settings>
      <setting name="MyCall" serializeAs="String">
        <value>DL2ALF</value>
      </setting>
      <setting name="DXCall" serializeAs="String">
        <value>GB3MHZ</value>
      </setting>
      <setting name="Band" serializeAs="String">
        <value>B1_2G</value>
      </setting>
      <setting name="Planes_Update" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="Planes_MinAlt" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="Map_AutoCenter" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Planes_Draw_Path" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Path_GroundClearance" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Planes_MaxAlt" serializeAs="String">
        <value>12200</value>
      </setting>
      <setting name="MyHeight" serializeAs="String">
        <value>14</value>
      </setting>
      <setting name="DXHeight" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="Calls_FileName" serializeAs="String">
        <value>\Database\calls.txt</value>
      </setting>
      <setting name="WSJTCalls_FileName" serializeAs="String">
        <value>\Database\call3.txt</value>
      </setting>
      <setting name="Watchlist_MaxCount" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="Planes_Filter_Min_Alt" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Planes_Filter_Min_Category" serializeAs="String">
        <value>NONE</value>
      </setting>
      <setting name="MinLon" serializeAs="String">
        <value>-15</value>
      </setting>
      <setting name="MaxLon" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="MinLat" serializeAs="String">
        <value>35</value>
      </setting>
      <setting name="MaxLat" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="MyLat" serializeAs="String">
        <value>50.937067</value>
      </setting>
      <setting name="MyLon" serializeAs="String">
        <value>10.68327</value>
      </setting>
      <setting name="DXLat" serializeAs="String">
        <value>52.05626084</value>
      </setting>
      <setting name="DXLon" serializeAs="String">
        <value>1.28022909</value>
      </setting>
      <setting name="DXElevation" serializeAs="String">
        <value>23</value>
      </setting>
      <setting name="MyElevation" serializeAs="String">
        <value>328</value>
      </setting>
      <setting name="Elevation_SRTM3_Enabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Elevation_SRTM1_Enabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="QRZ_URL_Database" serializeAs="String">
        <value>http://www.qrz.com/db/</value>
      </setting>
      <setting name="Path_NearFieldSuppression" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="Path_History_StepWidth" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Alarm_BringWindowToFront" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Alarm_PlaySound" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Alarm_Distance" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="Alarm_Activate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LocalObstruction_FileName" serializeAs="String">
        <value>Database\localobstructions.txt</value>
      </setting>
      <setting name="Path_Cubic_Spline" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Horizon_Plot_Cartesian" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Horizon_Plot_Polar" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WinTest_Port" serializeAs="String">
        <value>9871</value>
      </setting>
      <setting name="Server_Port" serializeAs="String">
        <value>9872</value>
      </setting>
      <setting name="Path_BestCaseElevation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Icon_Directory" serializeAs="String">
        <value>\Icon</value>
      </setting>
      <setting name="Planes_IconFileName" serializeAs="String">
        <value>plane.png</value>
      </setting>
      <setting name="Planes_PlaneFeed2" serializeAs="String">
        <value>[none]</value>
      </setting>
      <setting name="Planes_PlaneFeed3" serializeAs="String">
        <value>[none]</value>
      </setting>
      <setting name="Planes_PlaneFeed1" serializeAs="String">
        <value>[WebFeed]           Virtual Radar Server</value>
      </setting>
      <setting name="Planes_Position_TTL" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="Server_Activate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Server_Name" serializeAs="String">
        <value>AS</value>
      </setting>
      <setting name="Map_Provider" serializeAs="String">
        <value>OpenStreetMap</value>
      </setting>
      <setting name="Map_Provider_Accepted" serializeAs="String">
        <value />
      </setting>
      <setting name="Map_ToolTipFont" serializeAs="String">
        <value>Microsoft Sans Serif; 11;Bold</value>
      </setting>
      <setting name="SpecLab_URL" serializeAs="String">
        <value>http://localhost:10080/</value>
      </setting>
      <setting name="SpecLab_Update" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="SpecLab_FileName" serializeAs="String">
        <value>_fft_expt.json</value>
      </setting>
      <setting name="SpecLab_F1" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="SpecLab_F2" serializeAs="String">
        <value>1600</value>
      </setting>
      <setting name="SpecLab_Enabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="InfoWin_Metric" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="InfoWin_Imperial" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="InfoWin_Position" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="InfoWin_Time" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="InfoWin_Epsilon" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="InfoWin_Squint" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="InfoWin_Track" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="InfoWin_Type" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="InfoWin_Alt" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="InfoWin_Dist" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="InfoWin_Speed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="InfoWin_Angle" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SFTP_PwdURL" serializeAs="String">
        <value>HTTP://WWW.AIRSCOUT.EU/DOWNLOADS/AIRSCOUT.PWD</value>
      </setting>
      <setting name="First_Agree" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="First_Disagree" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="First_Privacy" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FirstRun" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Map_ShowZoomBox" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Map_ShowFilterBox" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Map_ShowAlarmBox" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Map_ShowInfoBox" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MainSplitter_Distance" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="MapSplitter_Distance" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="Track_Activate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Track_SetAz" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Track_SetEl" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Planes_IconSize_L" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="Planes_IconSize_M" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="Planes_IconSize_H" serializeAs="String">
        <value>36</value>
      </setting>
      <setting name="Planes_IconSize_S" serializeAs="String">
        <value>48</value>
      </setting>
      <setting name="Webserver_Port" serializeAs="String">
        <value>9880</value>
      </setting>
      <setting name="News_LastUpdate" serializeAs="String">
        <value>01/31/2015 15:21:00</value>
      </setting>
      <setting name="News_Interval" serializeAs="String">
        <value>3600</value>
      </setting>
      <setting name="News_URL" serializeAs="String">
        <value>http://www.airscout.eu/news.html</value>
      </setting>
      <setting name="Track_UDP_WinTest" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Track_DDE_HRD" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Track_Serial_Port" serializeAs="String">
        <value>COM13</value>
      </setting>
      <setting name="Track_Serial_Baudrate" serializeAs="String">
        <value>4800</value>
      </setting>
      <setting name="Track_Serial_GS232_AZ" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Track_File_WSJT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Track_File_Native" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Track_Serial_GS232_AZEL" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Track_UDP_AirScout" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Track_Serial_None" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Track_UDP_None" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Track_DDE_None" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Track_File_None" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Track_UDP_WinTest_Port" serializeAs="String">
        <value>9871</value>
      </setting>
      <setting name="Track_UDP_AirScout_Port" serializeAs="String">
        <value>9872</value>
      </setting>
      <setting name="Donate_URL" serializeAs="String">
        <value>http://www.airscout.eu/downloads/donate.html</value>
      </setting>
      <setting name="Planes_Filter_Max_Circumcircle" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Time_Mode_Online" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Time_Offline" serializeAs="String">
        <value>2015-02-25</value>
      </setting>
      <setting name="Airports_IconFileName" serializeAs="String">
        <value>airport.png</value>
      </setting>
      <setting name="Airports_Activate" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Database_Airlines_FileName" serializeAs="String">
        <value>\Database\Airlines.txt</value>
      </setting>
      <setting name="Database_Airlines_URL" serializeAs="String">
        <value>http://www.flugzeuginfo.net/table_airlinecodes_airline_en.php</value>
      </setting>
      <setting name="Map_Update" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Elevation_GLOBE_Enabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Database_Update_URL" serializeAs="String">
        <value>http://www.airscout.eu/downloads/database/</value>
      </setting>
      <setting name="Background_Update_OnStartup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="General_WindowState" serializeAs="String">
        <value>Maximized</value>
      </setting>
      <setting name="General_WindowSize" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="General_WindowLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="Background_Update_Periodically" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Background_Update_Period" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="Tmp_Directory" serializeAs="String">
        <value>\Tmp</value>
      </setting>
      <setting name="Log_Directory" serializeAs="String">
        <value>\Log</value>
      </setting>
      <setting name="Database_Directory" serializeAs="String">
        <value>\Database</value>
      </setting>
      <setting name="Locator_MaxLength" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="Locator_AutoLength" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Locator_SmallLettersForSubsquares" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Elevation_Directory" serializeAs="String">
        <value>\ElevationData</value>
      </setting>
      <setting name="Connectivity_URL" serializeAs="String">
        <value>http://www.airscout.eu</value>
      </setting>
      <setting name="Watchlist_SyncWithKST" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Watchlist_Activated" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Analysis_History_URL" serializeAs="String">
        <value>http://history.adsbexchange.com/Aircraftlist.json/</value>
      </setting>
      <setting name="Analysis_History_Directory" serializeAs="String">
        <value />
      </setting>
      <setting name="Analysis_History_Date" serializeAs="String">
        <value>2017-07-01</value>
      </setting>
      <setting name="Analysis_History_ZIPFileName" serializeAs="String">
        <value />
      </setting>
      <setting name="Analysis_History_Stepwidth" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="Analysis_History_LoadFileName" serializeAs="String">
        <value />
      </setting>
      <setting name="Horizon_Plot_Map" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Version" serializeAs="String">
        <value />
      </setting>
      <setting name="Elevation_GLOBE_EnableCache" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Elevation_SRTM3_EnableCache" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Elevation_SRTM1_EnableCache" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Elevation_GLOBE_Copyright" serializeAs="String">
        <value>
Maidenhead locator system elvation tiles calculated by DL2ALF based on elevation data of the GLOBE project:

GLOBE Task Team and others (Hastings, David A., Paula K. Dunbar, Gerald M. Elphingstone, Mark Bootz, Hiroshi Murakami, Hiroshi Maruyama, 
Hiroshi Masaharu, Peter Holland, John Payne, Nevin A. Bryant, Thomas L. Logan, J.-P. Muller, Gunter Schreier, and John S. MacDonald), eds., 1999. 

The Global Land One-kilometer Base Elevation (GLOBE) Digital Elevation Model, 
Version 1.0. National Oceanic and Atmospheric Administration, National Geophysical Data Center, 325 Broadway, Boulder, Colorado 80305-3328, U.S.A. 

Digital data base on the World Wide Web (URL: http://www.ngdc.noaa.gov/mgg/topo/globe.html) and CD-ROMs. </value>
      </setting>
      <setting name="Elevation_SRTM3_Copyright" serializeAs="String">
        <value>
Maidenhead locator system elvation tiles calculated by DL2ALF based on elevation data of the SRTM project:

This material is based on SRTM3 data V3.0 services provided by the OpenTopography Facility with support from the National Science Foundation under NSF Award Numbers 1226353 &amp; 1225810
http://opentopo.sdsc.edu/raster?opentopoID=OTSRTM.042013.4326.1

The Shuttle Radar Topography Mission (SRTM) obtained elevation data on a near-global scale to generate the most complete high-resolution digital topographic database of Earth. SRTM consisted of a specially modified radar system that flew onboard the Space Shuttle Endeavour during an 11-day mission in February of 2000. SRTM is an international project spearheaded by the National Geospatial-Intelligence Agency (NGA) and the National Aeronautics and Space Administration (NASA).

Version 3: Elimination of the voids in the NASA SRTM DEM was the primary goal of a project under the NASA MEaSUREs (Making Earth System Data Records for Use in Research Environments) Program. Ultimately this was achieved by filling the voids with elevation data primarily from the ASTER GDEM2 (Global Digital Elevation Model Version 2) and secondarily from the USGS GMTED2010 elevation model or the USGS National Elevation Dataset (NED). For more information on this dataset visit the LP DAAC NASA Shuttle Radar Topography Mission Global 3 arc second page.

ASTER GDEM is a product of NASA and METI. See https://lpdaac.usgs.gov/dataset_discovery/aster

MEaSUREs data and products are available at no charge from the LP DAAC.See https://lpdaac.usgs.gov/dataset_discovery/measures





</value>
      </setting>
      <setting name="Elevation_SRTM1_Copyright" serializeAs="String">
        <value>
Maidenhead locator system elvation tiles calculated by DL2ALF based on elevation data of the SRTM project:

This material is based on SRTM1 data V3.0 services provided by the OpenTopography Facility with support from the National Science Foundation under NSF Award Numbers 1226353 &amp; 1225810
http://opentopo.sdsc.edu/raster?opentopoID=OTSRTM.082015.4326.1

The Shuttle Radar Topography Mission (SRTM) obtained elevation data on a near-global scale to generate the most complete high-resolution digital topographic database of Earth. SRTM consisted of a specially modified radar system that flew onboard the Space Shuttle Endeavour during an 11-day mission in February of 2000. SRTM is an international project spearheaded by the National Geospatial-Intelligence Agency (NGA) and the National Aeronautics and Space Administration (NASA).
Version 3: Elimination of the voids in the NASA SRTM DEM was the primary goal of a project under the NASA MEaSUREs (Making Earth System Data Records for Use in Research Environments) Program. Ultimately this was achieved by filling the voids with elevation data primarily from the ASTER GDEM2 (Global Digital Elevation Model Version 2) and secondarily from the USGS GMTED2010 elevation model or the USGS National Elevation Dataset (NED). NASA SRTM V3.0 three-arc-second data are provided in two forms: (1) by three-by-three averaging of the one arc-second samples, and (2) by extracting the middle sample of those same three-by-three samples. For more information on this dataset visit the LP DAAC NASA Shuttle Radar Topography Mission Global 1 arc second page.
https://lpdaac.usgs.gov/dataset_discovery/measures/measures_products_table/srtmgl1

ASTER GDEM is a product of NASA and METI. See https://lpdaac.usgs.gov/dataset_discovery/aster

MEaSUREs data and products are available at no charge from the LP DAAC.See https://lpdaac.usgs.gov/dataset_discovery/measures




</value>
      </setting>
      <setting name="Path_MaxLength" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="Background_Calculations_Enable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StationsDatabase_Status" serializeAs="String">
        <value>UNDEFINED</value>
      </setting>
      <setting name="Background_Calculations_ThreadWait" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="Map_SmallMarkers" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ElevationModel" serializeAs="String">
        <value>NONE</value>
      </setting>
      <setting name="AircraftDatabase_Status" serializeAs="String">
        <value>UNDEFINED</value>
      </setting>
      <setting name="Horizon_MaxDist" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="Elevation_GLOBE_DatabaseStatus" serializeAs="String">
        <value>UNDEFINED</value>
      </setting>
      <setting name="Elevation_SRTM3_DatabaseStatus" serializeAs="String">
        <value>UNDEFINED</value>
      </setting>
      <setting name="Elevation_SRTM1_DatabaseStatus" serializeAs="String">
        <value>UNDEFINED</value>
      </setting>
      <setting name="AircraftDatabase_MaxSize" serializeAs="String">
        <value>1500</value>
      </setting>
      <setting name="AircraftDatabase_MaxDaysLifetime" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="AircraftDatabase_MaxCount" serializeAs="String">
        <value>10000000</value>
      </setting>
      <setting name="Analysis_CrossingHistory_WithSignalLevel" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Analysis_CrossingHistory_AmbiguousGap" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="Planes_KeepHistory" serializeAs="String">
        <value>False</value>
      </setting>
    </AirScout.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-1.0.109.0" newVersion="1.0.109.0" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>