<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ajayumi.MimeTypeMap" version="2.5.0" targetFramework="net40" requireReinstallation="true" />
  <package id="DeviceId" version="6.8.0" targetFramework="net40" />
  <package id="DeviceId.Windows" version="6.8.0" targetFramework="net40" />
  <package id="DeviceId.Windows.Wmi" version="6.8.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.119.0" targetFramework="net472" />
</packages>