<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AirScout.PlaneFeeds.Plugin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AirScout.PlaneFeeds.Plugin.Properties.Settings>
            <setting name="Info" serializeAs="String">
                <value>Web feed from Virtual Radar Server</value>
            </setting>
            <setting name="Name" serializeAs="String">
                <value>[WebFeed]           Virtual Radar Server</value>
            </setting>
            <setting name="Disclaimer" serializeAs="String">
                <value />
            </setting>
            <setting name="Disclaimer_Accepted" serializeAs="String">
                <value />
            </setting>
            <setting name="URL" serializeAs="String">
                <value>http://www.airscout.eu/downloads/AircraftList.php?fNBnd=%MAXLAT%&amp;fSBnd=%MINLAT%&amp;fWBnd=%MINLON%&amp;fEBnd=%MAXLON%&amp;fAltL=%MINALTFT%&amp;fAltU=%MAXALTFT%</value>
            </setting>
            <setting name="SaveToFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExtendedPlausibilityCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EstimatedPosition_MaxError" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LogErrors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseAirScoutProxy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="APIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="AirScoutProxyURL" serializeAs="String">
                <value>http://www.airscout.eu/downloads/AircraftList.php?fNBnd=%MAXLAT%&amp;fSBnd=%MINLAT%&amp;fWBnd=%MINLON%&amp;fEBnd=%MAXLON%&amp;fAltL=%MINALTFT%&amp;fAltU=%MAXALTFT%</value>
            </setting>
            <setting name="UserURL" serializeAs="String">
                <value>http://public-api.adsbexchange.com/VirtualRadar/AircraftList.json?fNBnd=%MAXLAT%&amp;fSBnd=%MINLAT%&amp;fWBnd=%MINLON%&amp;fEBnd=%MAXLON%&amp;fAltL=%MINALTFT%&amp;fAltU=%MAXALTFT%</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value />
            </setting>
            <setting name="HasSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CanImport" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CanExport" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Timeout" serializeAs="String">
                <value>30</value>
            </setting>
        </AirScout.PlaneFeeds.Plugin.Properties.Settings>
    </userSettings>
</configuration>