<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AirScoutDatabaseManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <AirScoutDatabaseManager.Properties.Settings>
      <setting name="MinLon" serializeAs="String">
        <value>-15</value>
      </setting>
      <setting name="MaxLon" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="MinLat" serializeAs="String">
        <value>35</value>
      </setting>
      <setting name="MaxLat" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="Map_Provider" serializeAs="String">
        <value>OpenStreetMap</value>
      </setting>
      <setting name="QRZ_URL_Database" serializeAs="String">
        <value>http://www.qrz.com/db/</value>
      </setting>
      <setting name="Log_Directory" serializeAs="String">
        <value>\Log</value>
      </setting>
      <setting name="Database_Directory" serializeAs="String">
        <value>\Database</value>
      </setting>
      <setting name="Tmp_Directory" serializeAs="String">
        <value>\Tmp</value>
      </setting>
      <setting name="Export_Directory" serializeAs="String">
        <value>\Export</value>
      </setting>
      <setting name="Station_URL" serializeAs="String">
        <value>http://www.airscout.eu/downloads/ScoutBase/1/StationData/</value>
      </setting>
      <setting name="QRZ_URL_Login" serializeAs="String">
        <value>https://xmldata.qrz.com/xml/current/?username=dl2alf;password=271192;agent=AirScout</value>
      </setting>
      <setting name="QRZ_URL_XMLData" serializeAs="String">
        <value>http://xmldata.qrz.com/xml/current/</value>
      </setting>
      <setting name="SFTP_URL" serializeAs="String">
        <value>www.airscout.eu</value>
      </setting>
      <setting name="SFTP_User" serializeAs="String">
        <value>u45565180-airscout</value>
      </setting>
      <setting name="SFTP_Password" serializeAs="String">
        <value>airscout</value>
      </setting>
      <setting name="Airlines_Update_URL" serializeAs="String">
        <value>https://www.flightradar24.com/_json/airlines.php</value>
      </setting>
      <setting name="Airports_Update_URL" serializeAs="String">
        <value>https://www.flightradar24.com/_json/airports2.php</value>
      </setting>
      <setting name="Aircrafts_BaseURL" serializeAs="String">
        <value>https://data.flightradar24.com/zones/fcgi/feed.js?faa=1&amp;mlat=1&amp;flarm=0&amp;adsb=1&amp;gnd=0&amp;air=1&amp;vehicles=0&amp;estimated=0&amp;maxage=0&amp;gliders=0&amp;stats=1</value>
      </setting>
      <setting name="StationDatabase_Export_LocalDir" serializeAs="String">
        <value>Z:\CSharp\AirScout\Database\ScoutBase\V1</value>
      </setting>
      <setting name="StationDatabase_Export_RemoteDir" serializeAs="String">
        <value>/wsb4556518002/downloads/ScoutBase/1/StationData</value>
      </setting>
      <setting name="StationDatabase_Export_User" serializeAs="String">
        <value>u45565180</value>
      </setting>
      <setting name="StationDatabase_Export_Password" serializeAs="String">
        <value />
      </setting>
      <setting name="StationDatabase_Export_RemoteHost" serializeAs="String">
        <value>home208518495.1and1-/data.host</value>
      </setting>
      <setting name="AircraftDatabase_Export_LocalDir" serializeAs="String">
        <value>Z:\CSharp\AirScout\Database\AirScout\V1</value>
      </setting>
      <setting name="AircraftDatabase_Export_Password" serializeAs="String">
        <value />
      </setting>
      <setting name="AircraftDatabase_Export_RemoteDir" serializeAs="String">
        <value>/wsb4556518002/downloads/AirScout/1/AircraftData</value>
      </setting>
      <setting name="AircraftDatabase_Export_RemoteHost" serializeAs="String">
        <value>home208518495.1and1-/data.host</value>
      </setting>
      <setting name="AircraftDatabase_Export_User" serializeAs="String">
        <value>u45565180</value>
      </setting>
    </AirScoutDatabaseManager.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.108.0" newVersion="1.0.108.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>