<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PlaneFeeds.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PlaneFeeds.Properties.Settings>
            <setting name="PF_URL" serializeAs="String">
                <value>http://planefinder.net/endpoints/update.php</value>
            </setting>
            <setting name="PF_Interval" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Generic_Info" serializeAs="String">
                <value>Generic Info.</value>
            </setting>
            <setting name="PF_Info" serializeAs="String">
                <value>Web feed from www.planefinder.net</value>
            </setting>
            <setting name="Generic_String" serializeAs="String">
                <value>[Generic] PlaneFeed</value>
            </setting>
            <setting name="PF_String" serializeAs="String">
                <value>[WebFeed] Planefinder</value>
            </setting>
            <setting name="PF_Disclaimer" serializeAs="String">
                <value>This plane feed is being fetched from an Internet server via Deep Link 
technology  (see http://en.wikipedia.org/wiki/Deep_link). 

The use is not intended by the website owners and could be changed in URL and data format frequently and without further notice. 
Furthermore, it might cause legal issues in some countries. 

By clicking on "Accept" you understand that you are 

                           DOING THAT ON YOUR OWN RISK

The auhor of this software will not be responsible in any case.</value>
            </setting>
        </PlaneFeeds.Properties.Settings>
    </userSettings>
</configuration>