<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AirScout.PlaneFeeds.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PlaneFeeds.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AirScout.PlaneFeeds.Properties.Settings>
            <setting name="PF_URL" serializeAs="String">
                <value>http://droidapp.pinkfroot.com/APPAPIDROID/v7/planeUpdateFAA.php?routetype=IATA&amp;FAA=1&amp;bounds=%MAXLAT%,%MINLAT%,%MINLON%,%MAXLON%</value>
            </setting>
            <setting name="PF_Interval" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Generic_Info" serializeAs="String">
                <value>Generic Info.</value>
            </setting>
            <setting name="PF_Info" serializeAs="String">
                <value>Web feed from www.planefinder.net</value>
            </setting>
            <setting name="Generic_Name" serializeAs="String">
                <value>[Generic]           Dummy Plane Feed</value>
            </setting>
            <setting name="PF_Name" serializeAs="String">
                <value>[WebFeed]           www.planefinder.net</value>
            </setting>
            <setting name="PF_Disclaimer" serializeAs="String">
                <value>This plane feed is being fetched from an Internet server via Deep Link 
technology  (see http://en.wikipedia.org/wiki/Deep_link). 

The use is not intended by the website owners and could be changed in URL and data format frequently and without further notice. 
Furthermore, it might cause legal issues in some countries. 

By clicking on "Accept" you understand that you are 

                           DOING THAT ON YOUR OWN RISK

The auhor of this software will not be responsible in any case.</value>
            </setting>
            <setting name="PF_Disclaimer_Accepted" serializeAs="String">
                <value />
            </setting>
            <setting name="Generic_Disclaimer_Accepted" serializeAs="String">
                <value />
            </setting>
            <setting name="Generic_Disclaimer" serializeAs="String">
                <value>This plane feed is a dummy plane feed generating random plane positions. 

USE THIS FEED FOR DEMONSTRATION PURPOSE ONLY!

The feed will run without fetching any data from the Internet. 
Please do not mix it with other feeds as confusion may occur with live data.
The call signs generated will look like "RND0001", "RND0002" etc.</value>
            </setting>
            <setting name="AS_URL" serializeAs="String">
                <value>http://localhost:9880/planes.json</value>
            </setting>
            <setting name="AS_Interval" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="AS_Name" serializeAs="String">
                <value>[WebFeed]           AirScout Web Server</value>
            </setting>
            <setting name="AS_Disclaimer" serializeAs="String">
                <value />
            </setting>
            <setting name="AS_Disclaimer_Accepted" serializeAs="String">
                <value />
            </setting>
            <setting name="AS_Info" serializeAs="String">
                <value>Web feed from another AirScout server.</value>
            </setting>
            <setting name="FJ_Disclaimer" serializeAs="String">
                <value />
            </setting>
            <setting name="FJ_Disclaimer_Accepted" serializeAs="String">
                <value />
            </setting>
            <setting name="FJ_Interval" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="FJ_Info" serializeAs="String">
                <value>Reads plane positions out of a JSON file.</value>
            </setting>
            <setting name="FJ_Name" serializeAs="String">
                <value>[FileFeed]          JSON file</value>
            </setting>
            <setting name="FJ_Path" serializeAs="String">
                <value>planes.json</value>
            </setting>
            <setting name="ADSB_Name" serializeAs="String">
                <value>[RawData]           ADSBSharp data </value>
            </setting>
            <setting name="ADSB_Info" serializeAs="String">
                <value>Raw data feed from simple ADS-B receivers (DVB-T dongles).
Use this feed thogether with ADSBSharp.


</value>
            </setting>
            <setting name="ADSB_Disclaimer" serializeAs="String">
                <value />
            </setting>
            <setting name="ADSB_Disclaimer_Accepted" serializeAs="String">
                <value />
            </setting>
            <setting name="ADSB_Server" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="ADSB_Port" serializeAs="String">
                <value>47806</value>
            </setting>
            <setting name="ADSB_Interval" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="ADSB_Binary" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ADSB_Report_Messages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ADSB_MarkLocal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RTL_Name" serializeAs="String">
                <value>[RawData]           RTL1090 data </value>
            </setting>
            <setting name="RTL_Info" serializeAs="String">
                <value>Raw data feed from simple ADS-B receivers (DVB-T dongles).
Use this feed together with RTL1090.exe.

Feed software must output raw data either binary or ASCII format via TCP.


</value>
            </setting>
            <setting name="RTL_Disclaimer" serializeAs="String">
                <value />
            </setting>
            <setting name="RTL_Disclaimer_Accepted" serializeAs="String">
                <value />
            </setting>
            <setting name="RTL_Server" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="RTL_Port" serializeAs="String">
                <value>31001</value>
            </setting>
            <setting name="RTL_Interval" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="RTL_Binary" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RTL_Report_Messages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RTL_MarkLocal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AJ_Disclaimer" serializeAs="String">
                <value>This plane feed is being fetched from an Internet server via Deep Link 
technology  (see http://en.wikipedia.org/wiki/Deep_link). 

The use is not intended by the website owners and could be changed in URL and data format frequently and without further notice. 
Furthermore, it might cause legal issues in some countries. 

By clicking on "Accept" you understand that you are 

                           DOING THAT ON YOUR OWN RISK

The auhor of this software will not be responsible in any case.</value>
            </setting>
            <setting name="AJ_Disclaimer_Accepted" serializeAs="String">
                <value />
            </setting>
            <setting name="AJ_Info" serializeAs="String">
                <value>JSON file from web feed with auto detection of content</value>
            </setting>
            <setting name="AJ_Interval" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="AJ_Name" serializeAs="String">
                <value>[WebFeed]           Automatic JSON file detection</value>
            </setting>
            <setting name="AJ_URL" serializeAs="String">
                <value />
            </setting>
            <setting name="AJ_Index_UTC" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="AJ_Index_Hex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="AJ_Index_Call" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="AJ_Index_Lat" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="AJ_Index_Lon" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="AJ_Index_Alt" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="AJ_Index_Speed" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="AJ_Index_Reg" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="AJ_Index_Track" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="AJ_Index_Type" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="AJ_Min_Elements" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="AJ_Min_Planes" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="AJ_Index_Squawk" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="AJ_AutoIndex" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AJ_Index_Radar" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="AJ_Index_Flight" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="AJ_Index_Route" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="FR_Disclaimer" serializeAs="String">
                <value>This plane feed is being fetched from Flightradar24.com  website
after checking your valid premium accout.
Even though AirScout is checking your account status online:
This service is not authorized by Fligthradar24 and is not guaranteed 
to work under all circumstances.Paying for a FR24 premium account
does not automatically grants the right to access the data via AirScout.

By clicking on "Accept" you understand that you are 

                           DOING THAT ON YOUR OWN RISK

The auhor of this software will not be responsible in any case.</value>
            </setting>
            <setting name="FR_Disclaimer_Accepted" serializeAs="String">
                <value />
            </setting>
            <setting name="FR_Info" serializeAs="String">
                <value>Web feed from www.flightradar24.com. You need a premim account to use this service.</value>
            </setting>
            <setting name="FR_Interval" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="FR_Name" serializeAs="String">
                <value>[WebFeed]           www.flightradar24.com</value>
            </setting>
            <setting name="FR_Login_User" serializeAs="String">
                <value />
            </setting>
            <setting name="FR_Login_Password" serializeAs="String">
                <value />
            </setting>
            <setting name="VR_Info" serializeAs="String">
                <value>Web feed from Virtual Radar Server</value>
            </setting>
            <setting name="VR_Name" serializeAs="String">
                <value>[WebFeed]           Virtual Radar Server</value>
            </setting>
            <setting name="VR_Disclaimer" serializeAs="String">
                <value />
            </setting>
            <setting name="VR_Disclaimer_Accepted" serializeAs="String">
                <value />
            </setting>
            <setting name="VR_Interval" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="VR_URL" serializeAs="String">
                <value>http://public-api.adsbexchange.com/VirtualRadar/AircraftList.json?fNBnd=%MAXLAT%&amp;fSBnd=%MINLAT%&amp;fWBnd=%MINLON%&amp;fEBnd=%MAXLON%&amp;fAltL=%MINALTFT%&amp;fAltU=%MAXALTFT%</value>
            </setting>
            <setting name="PF_SaveToFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FR_SaveToFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AJ_SaveToFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VR_SaveToFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WF_Disclaimer" serializeAs="String">
                <value />
            </setting>
            <setting name="WF_Disclaimer_Accepted" serializeAs="String">
                <value />
            </setting>
            <setting name="WF_Info" serializeAs="String">
                <value>Universal Web Feed</value>
            </setting>
            <setting name="WF_Interval" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="WF_Name" serializeAs="String">
                <value>[WebFeed]     Universal Web Feed</value>
            </setting>
            <setting name="WF_SaveToFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WF_URL" serializeAs="String">
                <value />
            </setting>
            <setting name="WF_Index_Call" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WF_Index_Alt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WF_Index_Flight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WF_Index_Hex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WF_Index_Lat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WF_Index_Lon" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WF_Index_Radar" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WF_Index_Reg" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WF_Index_Route" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WF_Index_Speed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WF_Index_Squawk" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WF_Index_Track" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WF_Index_Type" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WF_Index_UTC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WF_Min_Elements" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WF_Min_Planes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WF_AutoIndex" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VR_ExtendedPlausibilityCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VR_EstimatedPosition_MaxError" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="VR_LogErrors" serializeAs="String">
                <value>False</value>
            </setting>
        </AirScout.PlaneFeeds.Properties.Settings>
        <PlaneFeeds.Properties.Settings>
            <setting name="PF_URL" serializeAs="String">
                <value>http://planefinder.net/endpoints/update.php</value>
            </setting>
            <setting name="PF_Interval" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Generic_Info" serializeAs="String">
                <value>Generic Info.</value>
            </setting>
            <setting name="PF_Info" serializeAs="String">
                <value>Web feed from www.planefinder.net</value>
            </setting>
            <setting name="Generic_String" serializeAs="String">
                <value>[Generic] PlaneFeed</value>
            </setting>
            <setting name="PF_String" serializeAs="String">
                <value>[WebFeed] Planefinder</value>
            </setting>
            <setting name="PF_Disclaimer" serializeAs="String">
                <value>This plane feed is being fetched from an Internet server via Deep Link 
technology  (see http://en.wikipedia.org/wiki/Deep_link). 

The use is not intended by the website owners and could be changed in URL and data format frequently and without further notice. 
Furthermore, it might cause legal issues in some countries. 

By clicking on "Accept" you understand that you are 

                           DOING THAT ON YOUR OWN RISK

The auhor of this software will not be responsible in any case.</value>
            </setting>
        </PlaneFeeds.Properties.Settings>
    </userSettings>
</configuration>