<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinTestSimulator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WinTestSimulator.Properties.Settings>
            <setting name="Message" serializeAs="String">
                <value>ASADDWATCH</value>
            </setting>
            <setting name="From" serializeAs="String">
                <value>Test</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>9872</value>
            </setting>
            <setting name="To" serializeAs="String">
                <value>AS</value>
            </setting>
            <setting name="Data" serializeAs="String">
                <value />
            </setting>
        </WinTestSimulator.Properties.Settings>
    </userSettings>
</configuration>