<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AirScout.Aircrafts.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AirScout.Aircrafts.Properties.Settings>
            <setting name="Database_Directory" serializeAs="String">
                <value />
            </setting>
            <setting name="Database_InMemory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Aircrafts_DataPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Aircrafts_UpdateURL" serializeAs="String">
                <value>http://www.airscout.eu/downloads/AirScout/1/AircraftData/</value>
            </setting>
            <setting name="Database_BackgroundUpdate_Period" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Aircrafts_PasswordURL" serializeAs="String">
                <value>http://www.airscout.eu/downloads/airscout.pwd</value>
            </setting>
        </AirScout.Aircrafts.Properties.Settings>
    </userSettings>
</configuration>