<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ScoutBase.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ScoutBase.Core.Properties.Settings>
            <setting name="LogWriter_Directory" serializeAs="String">
                <value />
            </setting>
            <setting name="LogWriter_FileFormat" serializeAs="String">
                <value>log_{0:d}.log</value>
            </setting>
            <setting name="LogWriter_QueueSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LogWriter_MaxAge" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LogWriter_MessageFormat" serializeAs="String">
                <value>"{0:t}: {1}"</value>
            </setting>
            <setting name="LogWriter_Verbosity" serializeAs="String">
                <value>0</value>
            </setting>
        </ScoutBase.Core.Properties.Settings>
    </userSettings>
</configuration>