<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ScoutBase.CAT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ScoutBase.CAT.Properties.Settings>
            <setting name="Database_BackgroundUpdate_Period" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Rigs_UpdateURL" serializeAs="String">
                <value>http://www.airscout.eu/downloads/ScoutBase/1/RigData/</value>
            </setting>
            <setting name="Database_Directory" serializeAs="String">
                <value />
            </setting>
        </ScoutBase.CAT.Properties.Settings>
    </userSettings>
</configuration>